langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
pandas
openai
langchain-groq
pymupdf
mysql-connector-python
SQLAlchemy
validators==0.28.1
numexpr
huggingface_hub
streamlit