langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4        # ✅ correct package name instead of 'bs4'
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence-transformers  # ✅ correct with dash
langchain-huggingface
pandas
openai
langchain-groq
mysql-connector-python
SQLAlchemy
validators==0.28.1
numexpr
huggingface_hub
streamlit
duckduckgo-search
